extends layout

block content
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKTdq8KuNiUo6Iomn59dMZKxjeMuyhJks")
  script(type="text/javascript").
    $(document).ready(function() {
      window.scrollReveal = new scrollReveal();
      var height = $(window).height();
      var mainHeight = height * 0.65;
      var offset = $("#register").height();

      //- $('#main > #header > #logo').css("height", height*0.35);
      if(height > 850) {
        $('#main').css("height", height);
        $('#main > #header > #logo').css("margin-top", mainHeight*0.16);
      }
      else if (height > 800) {
        $('#main').css("height", height);
        $('#main > #header > #logo').css("margin-top", mainHeight*0.05);
      }
      else if (height > 700) {
        $('#main').css("height", height);
        $("#main > #header > #logo > img").css("height", "14em");
      }
      else if (height > 600) {
        $('#main').css("height", height);
        $("#main > #header > #logo > img").css("height", "10em");
        $("#main > #header > .cohost > h3").css("margin-top", 0);
        $("#main > #header > .cohost > h3").css("margin-bottom", 0);
      }
      else {
        $('#main').css("height", 850);
        $('#main > #header > #logo').css("margin-top", mainHeight*0.16);
      }

      if(height > 1000) {
        $('#main > .info_block').css("padding-top", 100);
      }
      
      $("#register").css("margin-top", -offset*0.7);

      var info_height = height * 0.35 - offset*2;
      $('.info_block').css("height", info_height);

      if(height > $(window).width()) {
        $('#main > #header > #logo').css("padding-top", 40);
        $('#main > .dummy > #register_button').css("padding-bottom", 50);
      }

      function initialize() {
        var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill"},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"color":"#7dcdcd"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]}];
        var location = new google.maps.LatLng(37.779776, -122.401833); 

        var mapOptions = {
          center: location,
          zoom: 16,
          disableDefaultUI: true,
          scrollwheel: false,
          draggable: false,
          disableDoubleClickZoom: true,
          styles: styles
        };
        var map = new google.maps.Map(document.getElementById("details"), mapOptions);

        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    });

  #main
    .cloud.x1
    .cloud.x2
    .cloud.x3
    .cloud.x4
    #header
      #logo
        img(src="images/betabreakers_logo.png")
      .cohost
        h3(style="font-weight: 300") CO-HOSTED BY
      .cohost
        img(src="images/vungle-big-grey.png")
    .dummy
      #register_button_background
        aside.diamond_white a
      //- .foreground
        aside.diamond a
      #register_button
        aside.diamond REGISTER NOW!
    .info_block#calendar(data-scroll-reveal="enter top over 0.5s")
      i.info_icon(class="fa fa-calendar fa-4x")
      br
      | Sep. 5-7
      br
      | 24 Hours
    .info_block#marker(data-scroll-reveal="enter top over 0.5s")
      i.info_icon(class="fa fa-map-marker fa-4x")
      br
      | Vungle HQ
      br
      | San Francisco, CA
    .info_block#users(data-scroll-reveal="enter top over 0.5s")
      i.info_icon(class="fa fa-users fa-4x")
      br
      | 300 Game Devs
    .info_block#dollar(data-scroll-reveal="enter top over 0.5s")
      i.info_icon(class="fa fa-dollar fa-4x")
      br
      | 10k in Prizes
  //- hr
  #description(data-scroll-reveal)
    p(data-scroll-reveal="enter top and move 60px over 1.33s") Beta Breakers Game Jam is an annual 24-hour, 300 person event in San Francisco. Come meet and work with some of the most creative and talented game developers. There will be plenty of food and prizes!
  .dummy
    .background
      aside.diamond .
    .foreground
      aside.diamond JUDGES
  .full_width
    .speaker_block
      .speaker_image#wayne(data-scroll-reveal="enter top and move 40px over 0.7s")
      h4(data-scroll-reveal="wait 0.1s then enter top and move 40px over 0.7s") WAYNE CHAN
      p(data-scroll-reveal="wait 0.2s then enter top and move 40px over 0.7s") Founder of Kabam
    .speaker_block
      .speaker_image#unknown(data-scroll-reveal="wait 0.1s then enter top and move 40px over 0.7s")
      h4(data-scroll-reveal="wait 0.2s then enter top and move 40px over 0.7s") 
      p(data-scroll-reveal="wait 0.3s then enter top and move 40px over 0.7s") 
    .speaker_block
      .speaker_image#unknown(data-scroll-reveal="wait 0.2s then enter top and move 40px over 0.7s")
      h4(data-scroll-reveal="wait 0.3s then enter top and move 40px over 0.7s")
      p(data-scroll-reveal="wait 0.4s then enter top and move 40px over 0.7s") 
  
  .dummy
    .background
      aside.diamond a
    .foreground
      aside.diamond SPONSORS
  #sponsors

  .dummy
    .background
      aside.diamond a
    .foreground
      aside.diamond LOCATION
  #map_container
    #details
    #map_label(data-scroll-reveal="enter top and move 40px over 0.5s")
      p(style="font-weight: 200") VUNGLE HQ
        br
        | 185 Clara St, San Francisco

  .dummy
    .background
      aside.diamond a
    .foreground
      aside.diamond SCHEDULE
  #schedule
    #schedule_container Coming soon!
      //- .row(style="border-top: 2px solid black")
      //-   .time 9:00 AM
      //-   .event REGISTRATION
      //- .row
      //-   .time 10:00 AM
      //-   .event GAME JAM START!
      //- .row
      //-   .time 11:30 AM
      //-   .event TECH TALK 1
      //- .row
      //-   .time 12:30 PM
      //-   .event LUNCH
      //- .row
      //-   .time 2:00 PM
      //-   .event TECH TALK 2
      //- .row
      //-   .time 4:00 PM
      //-   .event SNACKS
      //- .row(style="border-bottom: 2px solid black")
      //-   .time 6:30 PM
      //-   .event DINNER
  #footer
    p Copyright Beta Breakers, 2014