extends layout

block content
  script(type="text/javascript").
    $(document).ready(function() {
      var height = $(window).height();
      var mainHeight = height * 0.65;
      $('#main > h2').css("padding-top", mainHeight*0.35);
      $('#main').css("min-height", mainHeight);

      var offset = $("#register").height();
      $("#register").css("margin-top", -offset*0.7);
      $("#info").css("padding-top", offset*2);

      var info_height = height * 0.35 - offset*2;
      $('#info').css("height", info_height);
      $('.info_block').css("max-height", info_height);
    });

  #main
    h2 Beta Breakers 
      br
      | Game Jam
    .cohost
      h3 Co-hosted by
    .cohost
      img(src="images/vungle-logo.png")
  .dummy
    aside.diamond(href="#") Register for Free
  #info 
    .info_block
      i.info_icon(class="fa fa-calendar fa-4x")
      br
      | August 1-2
      br
      | 24 Hours
    .info_block
      i.info_icon(class="fa fa-map-marker fa-4x")
      br
      | Vungle HQ
      br
      | San Francisco, CA
    .info_block
      i.info_icon(class="fa fa-users fa-4x")
      br
      | 300 Game Devs
    .info_block
      i.info_icon(class="fa fa-dollar fa-4x")
      br
      | 10k in Prizes
  #description
    p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  .dummy
    aside.diamond Judges
  .full_width
    .speaker_block
      .speaker_image
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .speaker_block
      .speaker_image
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .speaker_block
      .speaker_image
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .dummy
    aside.diamond Sponsors
  #sponsors
  #footer
    p For sponsorship inquiries, contact something@example.com.
      //- br
      |  For other general inquiries, contact us at sthelse@example.com