doctype html
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    //- script(type="text/javascript" src="/javascripts/buttons.js")
  body
    block content