body {
  margin: 0 !important;
	padding: 0 !important;
	font-family: 'Roboto', sans-serif;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

hr {
  width: 20%;
  border: none;
  height: 1px;
  color: #EDEDED;
  background-color: #EDEDED;
  margin: 0 auto;
}

#main {
	width: 100%;
	text-align: center;
	align: middle;
  margin-bottom: 0;
  padding-bottom: 0;

  overflow: hidden;

  .cohost{
    img {
      height: 6em;
      padding-left: 1.4em;
    }
  }

  h2 {  
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
  	letter-spacing: -3px;
  }

  border-bottom: 2px solid black;
}

#main::before {
  content: "";
  background: url("../images/controller.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  height: 65%; 
  // height: 150px;
}

.dummy{
  width: 160px;
  margin: 25px auto;
  margin-top: 0;
  margin-bottom: 0;

  aside {
    margin: 20px 0;
    margin-top: -16px;
    margin-bottom: -14px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;

    &.diamond {
      background-color: #333333;
      &:after {
        border-color: transparent #333333;
      }
      &:before {
        border-color: transparent #333333; 
      }
      &:before {
        left: -15px;
        border-width: 15px 15px 15px 0;
      }
      &:after {
        right: -15px;
        border-width: 15px 0 15px 15px;
      }
    }
  }

  aside:before, aside:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
  }
}

#info{
  width: 100%;
  align: middle;
  text-align: center;
  border-bottom: 2px solid black;

  // background: #EDEDED;
  // background: #191970;

  .info_block {
    display: inline-block;
    width: 33%;

    text-align: center;
    vertical-align: middle;

    overflow: hidden;

    .info_icon {
      padding-top: 70px;
      padding-bottom: 50px;
    }
  }
}

.speaker_block {
  margin-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  width: 33%;
  border-bottom: 2px solid black;

  text-align: center;

  .speaker_image {
    margin: 0 auto;
    margin-bottom: 50px;

    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    background: url("../images/markprokoudine.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  p {
    margin: 0 auto;
    width: 50%;
  }
}

#sponsors {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  align: middle;
  text-align: center;
}