body {
  margin: 0 !important;
	padding: 0 !important;
	font-family: "proxima-nova",sans-serif;
  overflow: hidden;

  // Comment out below if you want to lock on landing page
  // overflow-y: scroll;
}

hr {
  width: 35%;
  border: none;
  height: 1px;
  color: #EDEDED;
  background-color: #EDEDED;
  margin: 0 auto;
}

.cloud {
  width: 200px; height: 60px;
  background: #fff;
  
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  
  position: absolute; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
  top: 80px; left: 500px;

  -webkit-animation: moveclouds-reverse 45s linear infinite;
  -moz-animation: moveclouds-reverse 45s linear infinite;
  -o-animation: moveclouds-reverse 45s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 50%; top: 50px;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

.x3 {
  left: 90%; top: 200px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

.x4 {
  left: 0; top: 250px;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds-reverse 30s linear infinite;
  -moz-animation: moveclouds-reverse 30s linear infinite;
  -o-animation: moveclouds-reverse 30s linear infinite;
}

.x5 {
  left: 40%; top: 150px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

@-webkit-keyframes moveclouds-reverse {
  0% {margin-left: -1000px;}
  100% {margin-left: 1000px;}
}
@-moz-keyframes moveclouds-reverse {
  0% {margin-left: -1000px;}
  100% {margin-left: 1000px;}
}
@-o-keyframes moveclouds-reverse {
  0% {margin-left: -1000px;}
  100% {margin-left: 1000px;}
}

#main {
	width: 100%;
	text-align: center;
	align: middle;
  margin-bottom: 0;
  padding-bottom: 0;

  background: url("../images/background-animation-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  overflow: hidden;
}

.dummy{
  width: 160px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;

  .background{
    aside {
      margin: 0 auto;
      margin-top: -21px;
      margin-bottom: -19px;
      line-height: 40px;
      position: relative;
      // cursor: pointer;
      user-select: none;
      text-align: center;
      color: white;

      &.diamond {
        background-color: #EDEDED;
        &:after {
          border-color: transparent #EDEDED;
        }
        &:before {
          border-color: transparent #EDEDED; 
        }
        &:before {
          left: -20px;
          border-width: 20px 20px 20px 0;
        }
        &:after {
          right: -20px;
          border-width: 20px 0 20px 20px;
        }
      }
      z-index: 8;
    }

    aside:before, aside:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0;
      z-index: 8;
    } 
  }

  .foreground {
    aside {
      width: 158px;
      margin: 20px 0;
      margin-top: -19px;
      margin-bottom: -19px;
      line-height: 36px;
      position: absolute;
      user-select: none;
      text-align: center;
      color: black;

      margin-left: 1px;

      &.diamond {
        background-color: white;
        &:after {
          border-color: transparent white;
        }
        &:before {
          border-color: transparent white; 
        }
        &:before {
          left: -18px;
          border-width: 18px 18px 18px 0;
        }
        &:after {
          right: -18px;
          border-width: 18px 0 18px 18px;
        }
      }

      z-index: 10;
    }

    aside:before, aside:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0;
      z-index: 10;
    }
  }

  #register_button_background {
    aside {
      width: 160px;
      margin: 20px 0;
      margin-top: -29px;
      margin-bottom: -29px;
      line-height: 58px;
      position: absolute;
      user-select: none;
      text-align: center;
      color: white;

      &.diamond_white {
        background-color: white;
        &:after {
          border-color: transparent white;
        }
        &:before {
          border-color: transparent white; 
        }
        &:before {
          left: -29px;
          border-width: 29px 29px 29px 0;
        }
        &:after {
          right: -29px;
          border-width: 29px 0 29px 29px;
        }
      }
    }

    aside:before, aside:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0;
      z-index: 10;
    }
  }

  #register_button {
    aside {
      width: 156px;
      margin: 20px 0;
      margin-top: -25px;
      margin-bottom: -25px;
      line-height: 50px;
      position: absolute;
      cursor: pointer;
      user-select: none;
      text-align: center;
      color: white;

      margin-left: 2px;

      &.diamond {
        background-color: #5CB85C;
        &:after {
          border-color: transparent #5CB85C;
        }
        &:before {
          border-color: transparent #5CB85C; 
        }
        &:before {
          left: -25px;
          border-width: 25px 25px 25px 0;
        }
        &:after {
          right: -25px;
          border-width: 25px 0 25px 25px;
        }
      }

      &:hover {
        opacity: 0.9;
      }

      z-index: 10;
    }

    aside:before, aside:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0;
      z-index: 10;
    }
  }
}

#sponsor {
  color: #6AC5F5;
  margin-bottom: 0;
  padding-bottom: 0;

  a {
    color:#6AC5F5;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

    padding-left: 50px;
    padding-right: 50px;
    padding: 5px;
    border: none;

    border-radius: 15px;
    margin: 0;
    text-decoration: none;
    position: absolute;
  }

  a:hover {
    background-color: white;
  }
}

#description {
  padding-top: 70px;
  padding-bottom: 80px;
  // background-color: black;
  opacity: 0.85;
  width: 100%;
  text-align: center;

  border-bottom: 2px solid #EDEDED;
  // color: white;

  p {
    width: 50%;
    max-width: 800px;

    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
  }
}

.full_width {
  width: 100%;
  // background-color: #EDEDED;

  border-bottom: 2px solid #EDEDED;
}

@media (max-width: 650px) {
  .speaker_block {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    width: 100%;

    text-align: center;

    #wayne {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;

      background: url("../images/wayne-chan.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    #unknown {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;

      background: url("../images/unknown.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    p {
      margin: 0 auto;
      width: 50%;
      color: #8f989f;
    }
  }

  #schedule {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align: middle;
    text-align: center;
    border-bottom: 2px solid #ededed;

    #schedule_container {
      width: 100%;
      margin: 0 auto;

      .row {
        width: 100%;
        position: relative;

        border-bottom: 2px solid #dedede;
        // border-top: 2px solid black;

        text-align: center;

        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 1em;

        &:hover {
          background-color: #E0DEDE;
        }

        .time {
          width: 50%;
          text-align: center;

          display: inline-block;
        }

        .event {
          width: 50%;
          text-align: center;

          display: inline-block;
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .speaker_block {
    padding-top: 100px;
    padding-bottom: 100px;
    display: inline-block;
    width: 33%;

    text-align: center; 

    #wayne {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;

      background: url("../images/wayne-chan.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    #unknown {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;

      background: url("../images/unknown.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    p {
      margin: 0 auto;
      width: 50%;
      color: #8f989f;
    }
  }

  #schedule {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    align: middle;
    text-align: center;
    border-bottom: 2px solid #ededed;

    #schedule_container {
      width: 40%;
      margin: 0 auto;

      .row {
        width: 100%;
        position: relative;

        border-bottom: 2px solid #dedede;
        // border-top: 2px solid black;

        text-align: center;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;

        font-size: 1em;

        &:hover {
          background-color: #E0DEDE;
        }

        .time {
          width: 50%;
          text-align: left;

          display: inline-block;
        }

        .event {
          width: 50%;
          text-align: right;

          display: inline-block;
        }
      }
    }
  }
}

@media(max-width: 900px) {
  #header {
    z-index: 3;
    position: relative;

    .cohost{
      margin: 0 auto;
      margin-right: 200px;
      width: 100%;
      // background-color: white;
      img {
        height: 6em;
      }
    }

    h3 {  
      font-weight: 300;
      // margin-top: -40px;
      // margin-bottom: 20px;
      font-size: 1em;
    }

    padding-bottom: 80px;
    // border-bottom: 2px solid white;
  }

  .info_block {
    position: relative;
    z-index: 8;

    color: white;

    display: inline-block;
    width: 25%;

    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    // padding-top: 20px;

    // overflow: hidden;
    font-size: 1em;

    .info_icon {
      padding-top: 70px;
      padding-bottom: 40px;
    }
  }

  #logo{
    img {
      max-height: 18em;
      max-width: 85%;
      height: auto;
    }
  }
}

@media (min-width: 900px) {
  #header {
    z-index: 3;
    position: relative;

    .cohost{
      margin: 0 auto;
      width: 15%;
      // background-color: white;
      img {
        height: 6em;
      }
    }

    h3 {  
      font-weight: 300;
      margin-top: -40px;
      margin-bottom: 50px;
      font-size: 1em;
    }

    padding-bottom: 80px;
    // border-bottom: 2px solid white;
  }

  .info_block {
    position: relative;
    z-index: 8;

    color: white;

    display: inline-block;
    width: 200px;

    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    // padding-top: 30px;

    // overflow: hidden;

    .info_icon {
      padding-top: 70px;
      padding-bottom: 40px;
    }
  }

  #logo{
    img {
      height: 17em;
    }
  }
}

#sponsors {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  align: middle;
  text-align: center;

  border-bottom: 2px solid #EDEDED;
  // opacity: 0.85;
}

#map_container {
  #details {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    align: middle;
    text-align: center;

    height: 350px;
    border-bottom: 2px solid #EDEDED;
  }

  #map_label {
    background-color: transparent;
    position: absolute;
    width: 100%;

    text-align: center;
    margin-top: -470px;

    font-size: 2em;

    z-index: 10;

    p {
      width: 100%;
      max-width: 430px;
      margin: 0 auto;

      padding-top: 15px;
      padding-bottom: 15px;

      color: white;
      background-color: black;
      opacity: 0.7;
    }
  } 
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}